@import "~bulma/bulma.sass";
@import "spacing.scss";

.page-title {
  font-size: 24px;
  font-weight: 500;
}

.hero-body {
    padding: 1rem 1.5rem;
}

.code {
  white-space: pre;
  overflow-x: scroll;
  overflow-y: scroll;
}
